<?xml version="1.0" encoding="UTF-8"?>

<beans projectname="ooffice" dependson="server" default-lazy-init="true">
<!-- 
	<bean id="imagePreProcessors" class="java.util.ArrayList">
	    <constructor-arg>
		<list>
			<ref bean="ffmpegimageCreator" />
			<ref bean="exiftoolthumbCreator" />
			<ref bean="oofficeDocumentCreator" />
		</list>
	    </constructor-arg>
	</bean>
-->
   <bean id="oofficeConversionManager" class="org.entermediadb.asset.convert.managers.DocumentConversionManager" scope="prototype">
		<property name="mediaTranscoder">
			<ref bean="oofficeTranscoder" />
		</property>
	
	</bean>
	
	<bean id="oofficeTranscoder" class="org.entermediadb.ooffice.OofficeDocumentTranscoder" >
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="exec"><ref bean="exec" /></property>
	</bean>
	
	<bean id="documentConversionManager" class="org.entermediadb.asset.convert.managers.DocumentConversionManager" scope="prototype">
		<property name="mediaTranscoder">
			<ref bean="oofficeTranscoder" />
		</property>
	</bean>


		
	<bean id="metaDataReader" class="org.entermediadb.asset.scanner.MetaDataReader">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
	
		<property name="metadataExtractors">
			<list>
				<ref bean="pdfExtractor" />
				<ref bean="oofficeTextExtractor" />
				<ref bean="exiftoolMetadataExtractor" />
				<ref bean="ffmpegMetadataExtractor" />
			</list>
		</property>
	</bean>
	
	<bean id="oofficeTextExtractor" class="org.entermediadb.ooffice.OofficeTextExtractor" >
		<property name="metadataPdfExtractor"><ref bean="pdfExtractor" /></property>
		<property name="mediaCreator"><ref bean="oofficeDocumentCreator" /></property>
	</bean>
	
	
</beans>
	