<?xml version="1.0" encoding="UTF-8"?>

<beans  default-lazy-init="true">

	<bean id="imagePreProcessors" class="java.util.ArrayList">
	    <constructor-arg>
		<list>
			<ref bean="ffmpegimageCreator" />
			<ref bean="exiftoolthumbCreator" />
			<ref bean="oofficeDocumentCreator" />
		</list>
	    </constructor-arg>
	</bean>

		
	<bean id="metaDataReader" class="org.openedit.entermedia.scanner.MetaDataReader">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
	
		<property name="metadataExtractors">
			<list>
				<ref bean="pdfExtractor" />
				<ref bean="oofficeTextExtractor" />
				<ref bean="exiftoolMetadataExtractor" />
				<ref bean="ffmpegMetadataExtractor" />
			</list>
		</property>
	</bean>
	
	<bean id="oofficeTextExtractor" class="org.entermedia.scanner.OofficeTextExtractor" >
		<property name="metadataPdfExtractor"><ref bean="pdfExtractor" /></property>
		<property name="mediaCreator"><ref bean="oofficeDocumentCreator" /></property>
	</bean>
	
	
</beans>
	